
#title {
  background-color: #b97ab9;;
  color:  #fff;
}

.txt {
   text-align: center;
}

hr {
  width: 4%;
  border-style: none;
  border-top-style: dotted;
  border-color: #b3b1b1;
  border-width: 5px;
  height: 0px;
}

.horizontal {
  border-color: white;
}

.paytm{
  margin-left: 35px;
}
.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;

}


h3 {
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.promotion {
    padding-top: 4%;
    padding-left: 4%;
    margin-left: 15%;
}

.promotion1 {
    padding-top: 4%;
    padding-left: 4%;
}

.promotion2 {
    padding-top: 4%;
    padding-left: 4%;
}


.h1-title {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-top: 10%;
}

/* Navigation Bar */

.navbar-dark .navbar-nav .nav-link {
    color: rgb(144 29 120);
}

.navbar {
  background-color: #b97ab9;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
font-family:'Montserrat-light',sans-serif;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image  */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-top: 10%;
  position: absolute;
  right: 30%;
}

/* Features */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #b97ab9;
  margin: 1rem;
}

.icon:hover {
  color: #e93be9;
}


/* testimonial section */

#testimonials {
  text-align: center;
  background-color:  #ad0090;
  color: #fff;
}

.testimonial-image { 
  width: 100%;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
    border-radius: 100%;
}

.underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}

.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

a {
    color: #000000;
}

#press  {
    background-color:  #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.sopp-offer-enumerator {
  display: table-cell;
  text-align: center;
}

.sopp-hader-message {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.save-extra {
  color: #B12704;
  font-weight: 700;
  text-align: center;
}

.a2i-sopp-starburst-icon {
    display: table-cell;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    transform: scale(.75);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2BJREFUeNq0WMGxm0AMBY/vIaccg4+5QQXBFcTuwK7gmwr8fwWQCkwHnw5MByanHE2OOYV0EMnz5JH372L2mzCjWQPaXa309CQcBBNc9ZdPO5Lk0XXCCQzJaDiS9CSL1c/f/XvXmnls6LoOGCOSnWN+NMZzs7Enp/FsGkX3zzTEJC8kLcmensUWnTPJ6d5ecw8vxjCqoXGLsDyRdCQlSYNwFSRr0lvhdzx2Ax9j2IBvJCuctEVocuCkIQNqfk8jeyGBwey1D64QemMGV0ebrmlcwhu8WUPPKqWTY+R3/Dyl9xymv1N75nLR4hyOBZ1+g9Dodx09T/G79V17PiJrEodRleN565mVvcyZG6jfB//3OjqM5HC22jMNjGHQfbfMaT3JcAdM8bzaovKZZAMs3nqGsUALVFBo6b52EZhK2U5lk2lIIfyDzVpD52CA/g2Ac6RuYTsNDDkZ3MGYSpVOojxcDmBnA8/V1tTGCTlEMTBkA/OFcUk3hMGJAcwD+Gc7UKcKxV2DPFMKu8ITtks2+WGhfja4HAjzBjo1U4HTGCiecbLeAWJ+XpDuEeHogLcM9y2wEgwcpAdTH3UtC1UMeaFMsgnMaTtZonQbbNwpLKX3CA8GFMBngDXK0OCXypYdI9L4FQvz3NKzFyqkjs2Q7+K+X+9orjYwpPExROod5NIPhWrBvcEd9QhDYtWnLDC/UOHObWUDibFTEbm0JaFF4QkAZoX1UMhUq8B6NTdgMKiGQZGJIWDuiHcdKKC5ySbeFKAVApPFXIbcpDE2iXG/VhyyMqbKuhzWhRji4pkrwk0eMIBnprHoJvDyV4OT5NAldDOzRZ1ZYnmPyiPVhF9ZFmOJk/9ByFtkqK1r1Exs9czeaCVdvbCUhNY4dY6NXlDnlrZ1EJoGxJe9+W6Cy84CKscCV+/4cBG8mVgOdUBVT01j7jVXS22QJxeNWntuFMjGUamLiTq95UBffdNc9TZj6FTBQI3qLI1VLM35UKgf/VS5boaKfVJZZTZf/PX5PNCCPGxMpD5VM9UGZEbTJO0HY+SEUjO5Ma/SvyD2qf7wR9iklfyI9BZOepraGCl8FwoHJkq0qDsF8hz4kNJSDZUVr/9nEHc+cWUBa6Q6wwA6W0f5iF0fflP+WSReefjPon8CDABsv8NYms+x0wAAAABJRU5ErkJggg==);;
}

#cta {
  padding: 7% 15% 5%;
  background-color: #ac589ae3;
  color: #fff;
  text-align: center;
}

.cta-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

/* footer section */

#footer {
  background-color: #fff;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

.faceebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #00acee;
}

.instagram:hover {
  color: #DD2A7B;
}

.envelope:hover {
  color: #034c9c;
}

@media (max-width: 1028px) {
#title {
  text-align: center;
}

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
